*{
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    margin: 0;
}

img{
    max-width: 100%;
    text-align: center;
}

body{
    background: black;
}

.quotes {
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

div > div{
    width: 250px;
    height: 290px;
    padding: 20px;
    border: solid 2px violet;
}

h3{
    margin-top: 0px;
    margin-bottom: 5px;
}

.active{
    background: #dda4dd;
}