*{
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    margin: 0;
}

img{
    max-width: 100%;
    text-align: center;
}

.quotes {
    color: white;
    display: flex;
}

div > div{
    width: 250px;
    height: 300px;
    padding: 20px;
}

h3{
    margin-top: 0px;
    margin-bottom: 5px;
}

.active{
    background: pink;
}